# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pytest_cache/

# Virtual Environment
.venv/
venv/

# Test Reports
reports/report.html
reports/screenshots/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
